{% extends 'bikeshop/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                <h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
                            </div>
                            <div class="col-md-8 col-xs-12">
                                <a type="button" class="btn btn-primary btn-sm btn-block" href="javascript:history.go(-1);">
                                    <span class="glyphicon glyphicon-share-alt" ></span> Continue shopping
                                </a>
                            </div>
                        </div>
                        <div class="row" style="font-size: 13">
                            <div class="col-md-2 col-xs-12"></div>
                            <div class="col-md-2 col-xs-12"></div>
                            <div class="col-md-8 col-xs-12">
                                <div class="col-md-3 text-center">Product price</div>
                                <div class="col-md-4 text-center">Quantity</div>
                                <div class="col-md-2 text-center">Subtotal</div> 
                                <div class="col-md-3"></div>
                            </div>
                        </div>                       
                    </div>
                </div>
                <div class="panel-body">
                {% for item in cart %}
                    {% with product=item.product %}
                        <div class="row">
                            <div class="col-md-2 col-xs-12" href="{{ product.get_absolute_url }}">
                                <img src="{% if product.photo %}{% static product.photo %}{% else %}{% static "bikeshop/img/no_image.png" %}{% endif %}" style="width: 100px; height: 70px">
                            </div>
                            <div class="col-md-2 col-xs-12">
                            <strong>{{ product.name }}</strong>
                            <br/>
                            </div>
                            <div class="col-md-8 col-xs-12">
                                <div class="col-md-3 text-center">
                                    <h6><strong>${{ item.price }}</strong></h6>
                                </div>
                                <form action="{% url "cart:cart_add" product.id %}" method="post" id="add_form" class="add_form">
                                    <div class="col-md-2 text-center">
                                        <div class="row">
                                              {{ item.update_quantity_form.quantity }}
                                              {{ item.update_quantity_form.update }}
                                        </div>
                                            {% csrf_token %}
                                    </div>
                                    <div class="col-md-2 text-center">
                                        <a>
                                            <button type="submit" class="add btn btn-primary btn-xs  waves-effect waves-light">
                                                <i class="material-icons">autorenew</i>
                                            </button>
                                        </a>
                                    </div>
                                </form>
                                <div class="col-md-2 text-center" id="subtotal">
                                    ${{ item.total_price }}
                                </div> 
                                <div class="col-md-3 text-right">
                                    <a href="{% url "cart:cart_remove" product.id %}">
                                        <!-- <div type="button" class="waves-effect waves-light">
                                        </div> -->
                                            <span type="button" class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <hr>
                    {% endwith %}
                {% endfor %}
                </div>
                <div class="panel-footer">
                    <div class="row text-center">
                        <div class="col-md-3 text-left">
                            <a type="button" href="javascript:location.reload(true)"  class="btn btn-info">Update</a>
                        </div>
                        <div class="col-md-6" id="total">
                            <h4 class="text-right">Total <strong>${{ cart.get_total_price }}</strong>
                            </h4>
                        </div>
                        <div class="col-md-3">
                            <a type="button" href="{% url "orders:order_create" %}" class="btn btn-success btn-block">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

<script>
$(document).on('submit', '.add_form's, function() {
    $('#add_form').submit(function() { // catch the form's submit event
        $.ajax({ // create an AJAX call...
            data: $(this).serialize(), // get the form data
            type: $(this).attr('method'), // GET or POST
            url: $(this).attr('action'), // the file to call
            success: function(response) { // on success..
                $(this).html(response);
                $('#subtotal').html(response)
                $('#total').html(response)
            }
        });
        return false;
    });
});
</script>
{% endblock content %}