{% load staticfiles %}
<html>
 <title>BikeShop</title>
 <head>
   <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="orange">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="orange">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="orange">
  <!-- -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="http://mdbootstrap.com/mdbcdn/mdb.min.css" rel="stylesheet">   
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://mdbootstrap.com/mdbcdn/mdb.min.js"></script>


    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" media="screen">
    <script src="{% static 'js/base.js' %}"></script>


</head>
  <body bgcolor="#E6E6FA">
  <!--Navigation-->
  <nav class="navbar navbar-static-top z-depth-1" role="navigation" style="background: orange">
          <a class="navbar-brand" href="/">
                    <img class="ratio img-responsive img-circle"  style=" max-width:200px; max-height:200px; margin-top: -12px;transform: scale(1, 1); background-image: url({% static 'bikeshop/img/logo.png' %});">
          </a>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand waves-effect waves-light" href="/">
                    <p>BuyBike</p>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                 <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-th"></span>Menu<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       <li class="dropdown-header">Catalogs</li>
                      <li><a href="/catalog/Bikes/categories">Bikes</a></li>
                      <li><a href="/catalog/Bike Parts/categories">Bike parts</a></li>
                      <li><a href="/catalog/Bike Accessories/categories">Accessories</a></li>
                      <li><a href="/catalog/Bike clothing/categories">Bike clothing</a></li>
                      <li role="separator" class="divider"></li>
                      <li class="dropdown-header">Actions</li>
                      <li><a href="/cart">Cart</a></li>
                      <li><a href="/login">Login</a></li>
                      <li><a href="/login">Logout</a></li>
                      <li><a href="/register">Register</a></li>
                    </ul>
                  </li>
              </ul>
                <form class="navbar-form navbar-left" role="search">
                  <div class="form-group waves-effect waves-light">
                      <input type="text" class="form-control" placeholder="Search">
                      <button type="submit" class="btn btn-primary" style="background: none">Submit</button>
                  </div>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/cart"><i class="glyphicon glyphicon-shopping-cart"></i>Cart</a></li>
                {% if user.is_authenticated %}
                <li><a href="/logout">Logout</a></li>
                {% else %}
                <li><a href="/login">Login</a></li>
                {% endif %}
                <li><a href="/register">Register</a></li>
              </ul>
            </div>
        </div>
    </nav>

    <div id="wrap">
          {% block content %}
          {% endblock content %}
    </div>
     <footer class="page-footer blue center-on-small-only">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="white-text"></h5>
                    <p class="grey-text text-lighten-4">Footer</p>
                </div>
                <div class="col-md-6">
                    <h5 class="white-text">Contacts</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center rgba-black-light">
            <div class="container-fluid">
                © 2015 Copyright: <a href="https://buybike.pythonanywhere.com"> Dubov Dmitry </a>
            </div>
        </div>
    </footer>
</body>
</html>