{% extends 'bikeshop/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="well well-sm">
            <a id="" class="btn btn-default btn-sm"><span class="glyphicon" onclick="goBack()">Back</span></a>
        <strong>Catalogs</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-th-list"></span>
            List
            </a> 
            <a href="#" id="grid" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
    </div>
    <div id="products" class="row list-group">
        {% for catalog in catalogs %}
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="{% if catalog.photo %}{% static catalog.photo %}{% else %}{% static "bikeshop/img/no_image_400_250.png" %}{% endif %}" alt="" style="width:400px;
height:250px;">
                <div class="caption">
                    <h4 class="group inner list-group-item-heading"><a href="/catalog/{{ catalog.name }}/categories">{{ catalog.name }}</a></h4>
                    <p class="group inner list-group-item-text">{{ catalog.description }}</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6"></div>
                        <div class="col-md-6"></div>
                        <div class="col-xs-12 col-md-6"></div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
