{% extends 'bikeshop/base.html' %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" media="screen">
{% block content %}
        <div class="row">
            <div class="col-md-10">
                <ol class="breadcrumb">
                      <li><a href="{% url "bikeshop:start" %}">Home</a></li>
                      <li class="active">Catalogs</li>
                </ol>
            </div>
            <div class="col-md-2 text-right">
                <div class="btn-group">
                    <a href="#" id="list" class="btn btn-flat btn-sm"><span class="glyphicon glyphicon-th-list">
                    </span></a> <a href="#" id="grid" class="btn btn-flat btn-sm"><span
                        class="glyphicon glyphicon-th"></span></a>
                </div>
            </div>
        </div>
    <div id="products" class="list-group">
        {% for catalog in catalogs %}
        <div class="item  col-xs-12 col-lg-4">
            <div class="thumbnail card card-product hoverable">
                <img class="group list-group-image" src="{% if catalog.photo %}{% static catalog.photo %}{% else %}{% static "bikeshop/img/no_image_400_250.png" %}{% endif %}" alt="" style="width:200px; height:200px;">
                <div class="caption text-center">
                    <h4 class="group inner list-group-item-heading"><a href="{% url "bikeshop:categories_list" catalog.name %}">{{ catalog.name }}</a></h4>
                </div>
                <div class="description">
                        {{ catalog.description }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
