{% extends 'bikeshop/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="well well-sm">
        <ol class="breadcrumb">
        <a id="" class="btn btn-default btn-sm" href="javascript:history.go(-1);"><span class="glyphicon">Back</span></a>
          <li><a href="{{ catalog.path|urlencode }}">{{ catalog }}</a></li>
          <li class="active">Categories</li>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
        </ol>
    </div>
    <div id="products" class="list-group">
        {% for category in categories %}
        <div class="item  col-xs-2 col-lg-2">
            <div class="thumbnail card card-product hoverable">
                <img class="group list-group-image" src="{% if category.photo %}{% static category.photo %}{% else %}{% static "bikeshop/img/no_image_400_250.png" %}{% endif %}" alt="" style="width:100px; height:100px;">
                <div class="caption" style="height: 50; text-align: center">
                    <a class="group inner list-group-item-heading" href="{{request.path|urlencode}}{{ category.name }}/products">{{ category.name }}</a>
                    <br>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}