{% extends 'bikeshop/base.html' %}
{% load staticfiles %}

{% block content %}
{% if user.is_authenticated %}You are logged in as, {{ user.username }}
{% endif %}
        <form id="login_form" method="post" action="/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>
{% endblock %}
