{% extends 'bikeshop/base.html' %}
{% load staticfiles %}

{% block content %}


<div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6">
    
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4><i class="fa fa-user"></i> Login</h4>
                <a>
                            {% if user.is_authenticated %}
                            You are logged in as: {{ user.username }}
                            {% else %}
                            Welcome
                            {% endif %}
                </a>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
                <div class="row">
                    <form id="login_form" class="text-left" method="post" action="/login/">
                    {% csrf_token %}
                        <div class="row">
                            <div class="input-field">
                                <i class="material-icons prefix">account_circle</i>
                                <input type="text" class="form-control" id="lg_username" name="username">
                                <label for="lg_username" class="">Username</label>
                            </div>

                            <div class="input-field">
                                <i class="material-icons prefix">lock</i>
                                <input type="password" class="form-control" id="lg_password" name="password">
                                <label for="password" class="">Password</label>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary waves-effect waves-light">Login</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="options">
                    <p>Not a member? <a href="/register">Sign Up</a></p>
                    <p>Forgot <a href="#">Password?</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
