{% extends 'bikeshop/base.html' %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/product_detail.css' %}">

<div class="container-fluid">
    <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="{% url "bikeshop:start" %}">Home</a></li>
                    <li><a href="{% url "bikeshop:catalog_list" %}">Catalogs</a></li>
                    <li><a href="{% url "bikeshop:categories_list" product.product.category.catalog %}">{{ product.product.category.catalog }}</a></li>
                    <li><a href="{% url "bikeshop:product_list" product.product.category %}">{{ product.product.category }}</a></li>
                    <li class="active">product</li>
                </ol>
            </div>
        </div>
    <div class="content-wrapper">  
        <div class="item-container">    
            <div class="container-fluid">
            <strong><div class="product-title">{{ product.product }}</div></strong>
            <hr>
            <div class="row">
                <div class="col-md-6" style="margin-top: 10px">
                    <div class="card-image">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                          <!-- Indicators -->
                          <ol class="carousel-indicators" style="z-index: 2">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                          </ol>

                          <!-- Wrapper for slides -->
                          <div class="carousel-inner" role="listbox">
                            <div class="item active">
                              <img class="group list-group-image" src="{% if product.product.photo %}{% static product.product.photo %}{% else %}{% static "bikeshop/img/no_image_400_250.png" %}{% endif %}" alt="merida"></img>
                            </div>

                            <div class="item">
                              <img class="group list-group-image" src="{% if product.product.photo %}{% static product.product.photo %}{% else %}{% static "bikeshop/img/no_image_400_250.png" %}{% endif %}" alt="merida"></img>
                            </div>
                            <div class="item">
                              <img class="group list-group-image" src="{% if product.product.photo %}{% static product.product.photo %}{% else %}{% static "bikeshop/img/no_image_400_250.png" %}{% endif %}" alt="merida"></img>
                            </div>
                            <div class="item">
                              <img class="group list-group-image" src="{% if product.product.photo %}{% static product.product.photo %}{% else %}{% static "bikeshop/img/no_image_400_250.png" %}{% endif %}" alt="merida"></img>
                            </div>

                          </div>

                          <!-- Left and right controls -->
                          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3 card">
                        <div class="row text-center">
                            <div class="product-price">$ {{ product.product.price_in_dollars }}</div>
                        </div>
                        <div class="row text-center">
                            {% if product.product.quantity > 0 %}
                                <div class="product-stock">In Stock: {{ product.product.quantity }}</div>
                            {% else %}
                                <div class="product-stock" style="color: red">Not in Stock</div>
                            {% endif %}
                        </div>
                        <form action="{% url "cart:cart_add" product.id %}" method="post">
                            <div class="row text-center" style="margin: 2">
                                <div class="input-field">
                                  <label id="{{ cart_product_form.quantity.auto_id }}">{{ cart_product_form.quantity.label }}</label>
                                  {{ cart_product_form.quantity }}
                                </div>
                            </div>
                            <div class="row text-center" style="margin: 2">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success waves-effect waves-light">
                                    <i class="material-icons">add_shopping_cart<h>Add</h></i>
                                </button>
                            </div>
                        </form>
                        <div class="row text-center">
                            {% if product.product.id in wishlist_ids %}
                                <a type="button" class="btn-floating btn-small waves-effect waves-light btn-danger darken-4" href="{% url "wishlist:wishlist_button" product.id %}" ><i class="material-icons">favorite</i></a>
                            {% else %}
                                <a type="button" class="btn-floating btn-small waves-effect waves-light btn-primary darken-4 top-btn" href="{% url "wishlist:wishlist_button" product.id %}" ><i class="material-icons">favorite</i></a>
                            {% endif %}
                        </d iv>
                    </div>
                </div>
            </div> 
                    
                
            </div> 
        </div>
        <div class="row">
            <div class="container-fluid">       
                <div class="col-md-12 product-info">
                        <ul id="myTab" class="nav nav-tabs nav_tabs">
                            
                            <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
                            <li><a href="#service-two" data-toggle="tab">PRODUCT INFO</a></li>
                            <li><a href="#service-three" data-toggle="tab">REVIEWS</a></li>
                            
                        </ul>
                    <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="service-one">
                             
                                <section class="container product-info">
                                    {{ product.description }}
                                </section>
                                              
                            </div>
                        <div class="tab-pane fade" id="service-two">
                            
                            <section class="container">
                            Manufacturer: {{ product.product.manufacturer }}
                            </section>
                            
                        </div>
                        <div class="tab-pane fade" id="service-three">
                                {% if user.is_authenticated %}
                                {{ user.username }}, leave a comment: </br>
                                <form action="{% url "bikeshop:add_comment" product.id%}" method="post">
                                    {% csrf_token %}
                                    {{comment_form.as_p}}
                                    <button type="submit" class="btn btn-success waves-effect waves-light">
                                        <i class="material-icons">send<h>Submit</h></i>
                                    </button>
                                </form>
                                {% else %}
                                <a href="/register/">Sign Up</a> or <a href="/login/">Login</a> for leaving a comment
                                {% endif %}
                                {% for comment in product.product.comment.all %}
                                    <div class="card hoverable comment">
                                        <div class="row">
                                            <div class="col-md-10">
                                                {{comment.text|linebreaks}}
                                            </div>
                                            <div class="col=md-2">
                                                {% if user.is_authenticated and comment.user_name == user %}
                                                    <div class="col-md-2 text-right">
                                                        <a class="btn btn-danger btn-sm" href="{% url 'bikeshop:comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12 text-left">
                                                By: {{comment.user_name}}
                                            </div>
                                            <div class="col-md-6 col-xs-12 text-right">
                                                {{comment.pub_date}}
                                            </div>
                                        </div>
                                    </div>
                                {% empty %}
                                    No comment yet. You can be the first there!
                                {% endfor %}
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}