{% extends 'bikeshop/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="well well-sm">
        <a id="" class="btn btn-default btn-sm"><span class="glyphicon" onclick="goBack()">Back</span></a>
        <strong>Products</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
    </div>
    <div id="products" class="row list-group">
        {% for product in products %}
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="{% if product.photo %}{% static product.photo %}{% else %}{% static "bikeshop/img/no_image_400_250.png" %}{% endif %}" alt="" style="width:400px; height:250px;">
                <div class="caption">
                    <h4 class="group inner list-group-item-heading"> <a href="{{request.path|urlencode}}{{ product.name }}/details/">{{ product.name }}</a></h4>
                    <p class="group inner list-group-item-text" id="description">{{ product.description }}</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">${{ product.price_in_dollars }}</p>
                        </div>
                        <div class="col-md-6">
                            <a class="glyphicon glyphicon-thumbs-up">Like</a> 
                        </div>
                        <div class="col-md-6">
                            {% if product.quantity > 0 %}
                            <div class="bold-700 " style="color: #00C851">In Stock: {{ product.quantity }}</div>
                            {% else %}
                            <div class="bold-700 " style="color: #ff4444">Not in Stock</div>
                            {% endif %}
                        </div>
                        </br>
                        <div class="col-xs-12 col-md-6">
                            <form action="{% url "cart:cart_add" product.id %}" method="post">
                                <div class="row">
                                    <div class="input-field col-md-10">
                                      <label class="col-md-10" id="{{ cart_product_form.quantity.auto_id }}">{{ cart_product_form.quantity.label }}</label>
                                      {{ cart_product_form.quantity }}
                                    </div>
                                </div>
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success waves-effect waves-light">
                                    <i class="material-icons">add_shopping_cart<h>Add</h></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}