{% extends 'bikeshop/base.html' %}

{% block content %}
{% for product in products %}
    <div><img src="{{ product.photo.url }}" align="right", height="100", width="100"></div>
    <div class="product">
        <h1><a href="{{request.path|urlencode}}{{ product.name }}/details/">Name: {{ product.name }}</a></h1>
        <p>Description: {{ product.description }}</p>
        <div class="price_in_dollars">
            Price: {{ product.price_in_dollars }}
        </div>
    </div>
    <hr/>
    <p><a href="{{request.path|urlencode}}">Back to categories</a></p>
{% endfor %}
{% endblock content %}