{% extends 'bikeshop/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="modal-content">
            <div class="modal-header text-center">
                {% if registered %}
                <strong>Thank you for registering!</strong>
                <a href="/">Return to the homepage.</a><br />
                {% endif %}
                <h4><i class="fa fa-user"></i> Register</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form id="user_form" class="text-left" method="post" action="/register/" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="input-field">
                                <i class="material-icons prefix">account_circle</i>
                                <input type="text" class="form-control" id="reg_username" name="username">
                                <label for="reg_username">Username</label>
                            </div>
                            

                            <div class="input-field">
                                <i class="material-icons prefix">lock</i>
                                <input type="password" class="form-control" id="reg_password" name="password">
                                <label for="password">Password</label>
                            </div>

                            <div class="input-field">
                                <i class="material-icons prefix">email</i>
                                <input type="text" class="form-control" id="reg_email" name="email">
                                <label for="icon_email">Your email</label>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-lg waves-effect waves-light">Sign up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="options">
                    <p>Already have an account? <a href="/login/">Login</a></p>
                </div>
            </div>
        </div> 
    </div>
</div>
{% endblock %}
