{% extends "bikeshop/base.html" %}

{% block content %}
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
    <div class="row card">
              <label class="col-md-12"></label>
              <div class="col-md-12">
                <h3>Your order</h3>
                <ul>
                    {% for item in cart %}
                        <li>{{ item.quantity }}x {{ item.product.name }} <span>${{ item.total_price }}</span></li>
                    {% endfor %}
                </ul>
                <p>Total: ${{ cart.get_total_price }}</p>
              </div>
    </div>
    <div class="row">
      <label class="col-md-4"></label>
      <div class="col-md-4">
        <!-- <legend>Make order</legend> -->
      </div>
    </div>        
    <div class="row card">
      <div class="col-md-12">
        <form action="{{ action }}" method="POST">
          {% csrf_token %}
          {% if form.non_field_errors %}
            <ul>
              {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}

          
          {% for field in form %}
          <label class="col-md-12"></label>
          <div id="{{ field.auto_id }}_container">
            {{ field.help_text }}
            <div class="row">
                <div class="input-field col-md-12">
                  <label class="col-md-12" id="{{ field.auto_id }}">{{ field.label }}</label>
                  {{ field }}
                </div>
            </div>
            <div id="{{ field.auto_id }}_errors">
              {{ field.errors }}
            </div>
          </div>
          {% endfor %}
            <div class="col-md-12">
              <label class="col-md-4"></label>
              <input type="submit" class="btn btn-primary " value="Submit"/>
            </div>
        </form>
      </div>
    </div>
</div>
</div>
{% endblock %}

